:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  padding: 0;
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}

header {
  display: flex;
  align-items: center;
  grid-auto-columns: max-content;
  justify-content: space-between;
}

main {
  padding: 12px;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 4px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 0.8em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
}

button:hover {
  border-color: #cf6ab1;
}

button:disabled {
  color: #ffffff87;
  border-color: transparent;
  cursor: default;
}

button:disabled:hover {
  color: #ffffff87;
  border-color: transparent;
  cursor: default;
}

button:focus,
button:focus-visible {
  color: white;
  outline: 4px auto -webkit-focus-ring-color;
}

.btn_error {
  color: white;
  height: 34px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  max-width: 1024px;
  gap: 20px;
  margin: 0 auto;
  position: relative;
}

.search {
  display: flex;
  gap: 20px;
}

.pagination {
  display: flex;
  gap: 10px;
}

.pagination__number {
  line-height: 200%;
}

.pagination-limit-btn {
  border-radius: 0;
}

.pagination-limit-btn:first-child {
  border-radius: 4px 0px 0px 4px;
}

.pagination-limit-btn:last-child {
  border-radius: 0px 4px 4px 0px;
}

.pagination-limit-btn_active {
  color: #cf6ab1;
}

.results {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  gap: 10px;
}

.card {
  border-radius: 4px;
  background-color: #1a1a1a;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  transition: border-color 0.25s;
  font-size: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - 12px);
}

.card:hover {
  border: 1px solid #cf6ab1;
}

.card__description {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.card__description img {
  max-width: 100%;
}

.card__name {
  font-size: 16px;
}

.details {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #cf6ab169;
}

.details__overlay {
  display: block;
  width: 100%;
  height: 100%;
}


.details__wrapper {
  background-color: #242424;
  position: fixed;
  top: 12px;
  right: 12px;
  bottom: 12px;
  border-radius: 4px;
  padding: 12px;
  width: 200px;
  z-index: 10;
  overflow: auto;
  font-size: 14px;
}

.info__loading-text {
  text-align: center;
  font-size: 36px;
}

.info__loading-img {
  font-size: 64px;
  width: 88px;
  height: 104px;
  margin: 0 auto;
  animation: rotate 3s linear infinite;
}

@keyframes rotate {
  from {
    transform: rotate(360deg);
  }
}

.details__wrapper::-webkit-scrollbar {
  display: none;
}

.details__img {
  max-width: 200px;
}